@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron" style="text-align: center; background: #51830e; display : flex;  justify-content: center">
    <i class="fa fa-id-card-o" style="font-size:50px"></i>
    <h1> Elite - Choose best of Student Technical Portfolios</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Welcome to Elite</h3>
        <p>
            An Application where technical information of every student from college is available.
        </p>
        <p>
            One platform used by Students , Professors and Administration to choose best of their needs.
        </p>
        <a class="btn btn-primary" asp-area="" asp-controller="Student" asp-action="Create"> Student Registration</a>



    </div>
    <div class="col-md-4">
        <h3>Alumni Connect</h3>
        <p>Helps current students to connect to Alumni of same technical background</p>     
        <a class="btn btn-primary" asp-area="" asp-controller="Student" asp-action="Display"> Try Connecting your Seniors</a>
    </div>
    <div class="col-md-4">
        <h3>MRP Screening</h3>
        <p>Helps Professors to screen the students for MRP projects</p>
        <a  class="btn btn-primary" asp-area="" asp-controller="Student" asp-action="Display"> Search Students with in demand skills</a>

    </div>
</div>