@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h3>Welcome to Elite</h3>
    <p>
        An Application where technical information of every student from college is available.
    </p>
    <p>
        One platform used by Students , Professors and Administration to choose best of their needs.
    </p>
    <br />
    <h3>Alumni Connect</h3>
    <p>Helps current students to connect to Alumni of same technical background</p>
    <br />
    <h3>MRP Screening</h3>
    <p>Helps Professors to screen the students for MRP projects</p>
</div>
   
